In [3]:
from utils import *
import pandas as pd

casesdf = loadAndCleanData('COVID-19-master/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
casesdf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,91,93,96,96,96,99,100,103,103,103
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2389,2493,2580,2637,2686,2734,2773,2822,2857,2857
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,22,26,27,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,873,900,907,921,934,943,953,965,974,983
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,396,407,407,411,411,415,420,428,429,429

In [34]:
def correctDateFormat(dataframe, colname):
    wow = pd.melt(dataframe, id_vars=['Province/State', 'Country/Region'], value_vars=list(casesdf.columns[4:]),
                 var_name='Date', value_name='Confirmed')
    return wow

In [35]:
newdf = correctDateFormat(casesdf, 'poop')
newdf.tail(50)

                        Province/State  Country/Region variable  Confirmed
6674                             Hubei           China  4/12/20      67803
6675                             Hunan           China  4/12/20       1019
6676                    Inner Mongolia           China  4/12/20        189
6677                           Jiangsu           China  4/12/20        653
6678                           Jiangxi           China  4/12/20        937
6679                             Jilin           China  4/12/20         99
6680                          Liaoning           China  4/12/20        145
6681                             Macau           China  4/12/20         45
6682                           Ningxia           China  4/12/20         75
6683                           Qinghai           China  4/12/20         18
6684                           Shaanxi           China  4/12/20        256
6685                          Shandong           China  4/12/20        784
6686                          Shanghai           China  4/12/20        607
6687                            Shanxi           China  4/12/20        172
6688                           Sichuan           China  4/12/20        560
6689                           Tianjin           China  4/12/20        183
6690                             Tibet           China  4/12/20          1
6691                          Xinjiang           China  4/12/20         76
6692                            Yunnan           China  4/12/20        184
6693                          Zhejiang           China  4/12/20       1267
6694                     Faroe Islands         Denmark  4/12/20        184
6695                         Greenland         Denmark  4/12/20         11
6696                     French Guiana          France  4/12/20         86
6697                  French Polynesia          France  4/12/20         53
6698                        Guadeloupe          France  4/12/20        143
6699                           Mayotte          France  4/12/20        196
6700                     New Caledonia          France  4/12/20         18
6701                           Reunion          France  4/12/20        389
6702                  Saint Barthelemy          France  4/12/20          6
6703                         St Martin          France  4/12/20         32
6704                        Martinique          France  4/12/20        155
6705                             Aruba     Netherlands  4/12/20         92
6706                           Curacao     Netherlands  4/12/20         14
6707                      Sint Maarten     Netherlands  4/12/20         50
6708                           Bermuda  United Kingdom  4/12/20         57
6709                    Cayman Islands  United Kingdom  4/12/20         53
6710                   Channel Islands  United Kingdom  4/12/20        431
6711                         Gibraltar  United Kingdom  4/12/20        129
6712                       Isle of Man  United Kingdom  4/12/20        228
6713                        Montserrat  United Kingdom  4/12/20          9
6714                  Diamond Princess          Canada  4/12/20         -1
6715                         Recovered          Canada  4/12/20          0
6716             Northwest Territories          Canada  4/12/20          5
6717                             Yukon          Canada  4/12/20          8
6718                          Anguilla  United Kingdom  4/12/20          3
6719            British Virgin Islands  United Kingdom  4/12/20          3
6720          Turks and Caicos Islands  United Kingdom  4/12/20          9
6721  Bonaire, Sint Eustatius and Saba     Netherlands  4/12/20          3
6722       Falkland Islands (Malvinas)  United Kingdom  4/12/20          5
6723         Saint Pierre and Miquelon          France  4/12/20          1

In [13]:
test = "This is a test sentence"
print(test[4:])

 is a test sentence

In [28]:
list(casesdf.columns[4:])

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20']